$backgColor: black;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgColor;
  color: white
}

.header-container {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: red;
  font-family: 'Arial Black', Times;
  font-size: 60px;
}

nav a {
  text-decoration: none;
  color: gray;
  margin-right: 10px;
}

nav a:hover {
  color: aliceblue;
}

.principal-series {
  font-size: large;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/seriesBackground.jpg');
  
  height: 400px;
  background: cover;

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
}

.principal-series .series-description {
  margin-bottom: 40px;
}

 .series-title {
  font-size: 70px;
 }